@font-face {
	font-family: "proximanova";
	src: url(fonts/PROXIMANOVA-REGULAR.OTF);
}

@font-face {
	font-family: "proximanova-bold";
	src: url(fonts/PROXIMA_NOVA_BOLD.OTF);
}

*{
	font-family: proximanova;
}
body{
	padding: 0;
	margin: 0;
}

#selectContainer{
	display: grid;
	grid-template-columns: repeat(5, 1fr);
	width: 95vw;
	height: 100%;
	margin-top: calc(25% - 15vh);
	padding-left: 2.5vw;
	padding-right: 2.5vw;

	position: relative;
	top: -20vh;
}

#selectContainer > div{
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: auto auto;
	column-gap: 1vw;
	row-gap: 1em;
	font-size: 1.5vw;

	cursor: pointer;
	transition: background-color 0.5s;
	border-radius: 5px;
	padding: 10px;
}

#selectContainer > div:hover{
	background-color: lightgrey;
}

#selectContainer .imgContainer{
	display: flex;
	justify-content: center;
	align-items: center;
}

#selectContainer > div span{
	display: flex;
	height: 100%;
	align-items: center;
	justify-content: center;
	text-align: center
}

.imgContainer img{
	max-height: 30vh;
	max-width: auto;
}

.title, .subtitle{
	text-align: center;
}

.title{
	font-size: 5vw;
	font-family: proximanova-bold;
}

.subtitle{
	font-size: 3vw;
}

.urlButton{
	background-color: #EEE;
	border-radius: 3px;
	cursor: pointer;
	transition: background-color 0.5s;
	padding: 3px;
	width: 12vw;
	display: inline-block;
	text-align: center;
	text-decoration: none;
}

.urlButton:hover{
	background-color: #DDD;
}

.urlButton:visited{
	color: initial;
}

.mainIndexContainer{
	display: flex;
	width: 100%;
	justify-content: center;
	align-items: center;
}

.mainIndexContainer *{
	margin-right: 5px;
}

#roomContainer{
	display: grid;
	grid-template-columns: auto 1fr;
	position: relative;
	padding: 0;
}

#videoPlayer{
	height: 100vh;
	max-width: 80vw;
	width: auto;
	background-color: black;
}

#videoPlayer:focus{
	outline: none;
}

#chatContainer{
	width: 100%;
	height: 100vh;
	display: grid;
	grid-template-rows: 1.5fr 15fr 2.2fr;
	background-color: #161837;
	row-gap: 3px;
	color: #B0B2D9;
}

#chat{
	background-color: #0C0D1B;
	list-style-type: none;
	padding-top: 1vh;
	padding-left: 1vw;
	overflow-y: scroll;
	color: #B0B2D9;
	padding-bottom: 1vh;
}

#chat li {
	margin-top: 0.5vh;
	font-size: 1.3vh;
}

.chatAuthor{
	font-weight: bold;
}

::-webkit-scrollbar {
	width: 1em;
}

/* Track */
::-webkit-scrollbar-track {
background: #161837;
}

/* Handle */
::-webkit-scrollbar-thumb {
	background: #1D1F47;
	border-radius: 2em;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
	background: #1D1F47;
	border-radius: 2em;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
	color:  #B0B2D9;
	opacity: 1; /* Firefox */
  }
  
  :-ms-input-placeholder { /* Internet Explorer 10-11 */
	color:  #B0B2D9;
  }
  
  ::-ms-input-placeholder { /* Microsoft Edge */
	color:  #B0B2D9;
  }

#inputContainer {
	display: grid;
	grid-template-columns: 5fr 1.5fr;
}

#inputChat{
	background-color: #1D1F47;
	color: #B0B2D9;
	position: relative;
	margin-top: 1.4vh;
	margin-left: 0.7vw;
	resize: none;
	border: none;
	border-radius: 0.7em;
	height: 60%;
	padding: 1vh;
	font-size: 1.3vh;
}

textarea:focus, button:focus {
	outline: none;
}

button:hover {
	cursor: pointer;
}

#chatContainer button {
	border: 0;
	background-color: #1D1F47;
	color: #B0B2D9;
	position: relative;
	margin-top: 1.6vh;
	margin-left: 0.7vw;
	margin-right: 0.7vw;
	border-radius: 0.7em;
	height: 40%;
	font-size: 1.3vh;
}

#roomid{
	display: grid;
	grid-template-rows: 1fr 1fr;
	max-height: 12vh;
}

#roomNameTop{
	font-size: 3vh;
	padding-top: 1vh;
	padding-left: 1vw;
	color: #EB1745;
}

#roomNameTop img {
	max-height: 3vh;
	cursor: pointer;
}

#topOverlayTop{
	display: none;
	grid-template-rows: 1fr 2fr;
	position: absolute;
	right: 3vw;
	top: 5vh;
	width: 10vw;
	height: 7vh;
	background-color:#161837;
	color: #B0B2D9;
	border-radius: 0.7vh;
	padding: 0.5vw;
}

#textTopSmall{
	font-size: 1.5vh;
}

#topOverlayTop input{
	width: auto;
	border: none;
	background-color: #1D1F47;
	border-radius: 0.7vh;
	color: #B0B2D9;
	font-size: 1.6vh;
	padding-left: 0.6vw;
}
#topOverlayTop input:focus{
	outline: none;
}

#roomFilmTop {
	font-size: 2vh;
	padding-left: 1vw;
	color: #CD6B83;
}


#usernameInput{
	font-size: 2vw;
}

.mainIndexInputContainer{
	text-align: center;
}

.mainIndexInputContainer > span{
	font-weight: bold;
}
